		* {
			margin: 0;
			padding: 0;
		}
		body{
			background-color: #FFFFFF;
			font-family: 'Open Sans', sans-serif;
		}
		input[type=submit]{
			background-color: red;
			color:white;
			border-width: 0;
			padding:0;
			margin: 0;
		}
		.head{
			margin:0px;
			margin-bottom: 5px;
			padding-bottom:2px;
			width: 100%;
			min-height: 3em;
			border-bottom: 3px solid #500000;
		}
		.head h1{
			display:inline-block;
		}
		
		.logo{
			width:35%;
			border-width: 0;
			height:3em;
			display: inline-block;
		}
		.logo img{
			position: absolute;
			width: auto;
    		top:0px;
    		left:0px;
    		height: 3em;
    		z-index: -1;
			
		}
		
		.login{
			width: 64%;
			background-color:#FFFFFF;
			border-width: 0;
			height:3em;
			display: inline-block;
			text-decoration: none;
			color:#500000;
			vertical-align: top;
			font-variant: small-caps;
		}
		#imgload{
			position:absolute;
			top:auto;
			bottom: auto;
			margin:3px;
			
			width: 1em;
			vertical-align: top;
			float: right;
			z-index: -1;
			
			
		}
		form.log{
			vertical-align: top;
			display: inline-block;
			font-variant: small-caps;
			
			float:right;
		}

		.login input[type=text],input[type=password]{
			margin-left: 0.5em;
			font-variant: small-caps;
			background-color: #EEE;
		}
		.bEntra{
			font-variant: small-caps;
			color:#FFFFFF;
			background-color: #AAA;
			width: 5em;
		}
		.hel-mis{
			margin: 0px;
			color:rgba(0, 81, 255, 0.54);
			background-color:#FFFFFF;
			height: 1em;
			width: 100%;
			display:block;
			float: right;
			text-align: top;
			
		}
		.hel-mis p{
			font-size: smaller;
		}
		.m-warning{
			margin: 0px;
			color:red;
			background-color:#FFFFFF;
			display: block;
			width: 100%;
			height: 1em;
			float: right;
		}
			
		.m-warning p{
			font-size:smaller;
		}

		.menu{
			width: 100%;
			
			height: 1.5em;
			border-bottom: 3px solid #500000;
		}
		.menu ul a li{
			width: 10%;
			text-align: center;
			height: 1.5em;
			display: inline-block;
		}
		.menu ul a li:hover{
			background-color: #EE8D8D;
			color:#FFFFFF;
		}
		.content{
			width:100%;
			margin:10px;
			padding:10px;
		}
		.art{
			border: 1px solid #F00;
			background-color: #FDF4F4;
			width: 40%;
			height: 20em;
			margin:20px;
			padding:5px;
			font-size: 80%;
			display: inline-block;;
		}
		.form-signing{
			margin:auto;
			max-width: 600px;
			
		}

		.form-signing input[type=text],.form-signing input[type=password],
		.form-signing input[type=submit], .form-signing input[type=email]{
			width: 35em;
			height: 2em;
			margin-top: 1em;
			margin-bottom: 1em;
			vertical-align: middle;
			border-radius: 2px;
		}
		.admin{
			width: 100%;
			font-size: small;
			background-color: gray;
			height: 1.3em;
			border-bottom: 3px solid #500000;
		}
		.admin ul a li{
			width: 10%;
			text-align: center;
			height: 1em;
			display: inline-block;
		}
		.admin ul a li:hover{
			background-color: #CC8D8D;
			color:#FFFFFF;
		}
		.foot{
			width: 100%;
			height:3em;
			color:#FFF;
			background-color: #222;
			border-top: 2px solid #FDF4F4;
			text-align: center;;
		}
		#nick-msg{
			height: 1em;
			font-size: small;
		}
		button{

			font-variant: small-caps;
			color:#FFFFFF;
			background-color: orange;
			margin-bottom: 3px;
			width: 10em;
		
		}
		.users-table{
			display: block;
			float: none;
			margin:auto;
			min-height: 4em;
			background-color:#ededed;
			font-size:90% ;
		}
		.users-table table  td{
			text-align: center;
			border: 1px blue solid;
			min-width: 4em;
					}
		.users-table input[type]{
			background-color: #eee;
  			height: 2.5em;
  			font-style: oblique;
  			font-size: initial;
		}
		.bedit{
			background-image: url('img/edit.png');
			background-color:#ededed;
			width:34px;
			height: 34px;

			}
		.bedit:hover{
			background-color:#ccc;
		}
		.btrash{
			background-image: url('img/trash.png');
			background-color:#ededed;
			width:34px;
			height: 34px;
		}
		.btrash:hover{

			background-color:#ccc;
		
		}
		.message{
			background-color:#555;
			height: 2em;
			color:orange;
		}